*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px 0;
}
.banner{
    height: 80px;
    background-color: #e579e6;

}
.y_main{
    background-color: #e1d67a;
    height: 300px;
    margin: 20px 0;
}
.b_head_main{
    height: 60px;
    border-bottom: 5px solid #0086ff ;
    background-color: #abcfe7;
}
.b_main{
    height: 400px;
}

.b_main div {
    float: left;
    background-color:#abcfe7 ;
    height: 100%;

}
.b_left,.b_right{
    width: 20%;
    border-bottom: 14px solid #0086ff;
    border-top: 7px solid #0086ff;
    
}
.b_centre{
    width: 60%;
    border-bottom: 14px solid #0086ff;
    border-top: 7px solid #0086ff;
    border-left: 14px solid #0086ff;;
    border-right: 14px solid #0086ff;;
}



.b_main::after{
    content: "";
    clear: both;
    display: table;

}
.foot{
    background-color: #8801fe;
    height: 40px;
    margin-top: 5px;
}